@media (max-width: 576px) {
  #nav-bar ul,
  #nav-bar ul li {
    display: block;
  }

  #nav-bar ul li:last-child {
    padding: 10px;
  }

  .border-bottom,
  .border-start {
    border: 0 !important;
  }

  .card-1 {
    padding-top: 1rem;
    border-bottom: 1px solid #d6c08d;
  }

  .card-1 img {
    width: 100%;
  }

  .no-border {
    border: 0px;
  }

  #certificate .mb-3,
  #certificate .pb-3 {
    margin: 0 !important;
    padding: 0 !important;
  }

  #footer ul li p {
    display: none;
  }
}
